# Clerk
VITE_CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxx

# URL backend
VITE_API_URL=http://localhost:5000/api

# Email admin (seul cet email aura accès au dashboard admin complet)
# Les autres emails connectés seront redirigés vers le portail bailleur
VITE_ADMIN_EMAIL=ton.email@gmail.com
